.login-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(rgba(55, 77, 118, 0.8), rgba(56, 78, 119, 0.8)),
    url(../../teamwork2.jpg) no-repeat fixed;
  background-size: cover;
}

.login-form {
  border: 2px solid #fff;
  width: 320px;
  padding: 1rem;
  font-size: 1.5rem;
  margin: auto 0;
  display: flex;
  flex-direction: column;
}
.login-form h2 {
  margin: 2rem auto;
}
.form-group {
  margin-bottom: 2rem;
  margin-left: 1.2rem;
}
.form-group label {
  display: block;
}
.form-input {
  font-size: 1.5rem;
  font-family: inherit;
  color: #333333;
  padding: 1rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  width: 90%;
  display: block;
  transition: border-color 1s ease-out;
}

.form-input:focus {
  outline: none;
}
.form-input:focus:invalid {
  border-bottom: 2px solid red;
}

.form-input:focus:valid {
  border-bottom: 2px solid green;
}
.login-button {
  display: inline-block;
  font-size: 1.6rem;
  margin: 2rem auto;
  border-radius: 20px;
  padding: .8rem 2.8rem;
}
.login-button:hover {
  transform: scaleX(1.1) scaleY(1.1);
}
