.role-text {
  font-weight: lighter;
  font-size: 1.2rem;
  color: #fff;
}

@media (max-width: 600px) {
  .role-text {
    font-size: 0.8rem;
  }
  .small-btn {
    font-size: 1rem;
    padding: 0.8rem;
  }
}
.post-view {
  background-image: url("../../bg_texture.jpg");
  min-height: 80vh;
  padding: 2rem;
}