.App {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(rgba(55, 77, 118, 0.8), rgba(56, 78, 119, 0.8)),
    url(../teamwork2.jpg) no-repeat fixed;
  background-size: cover;
}
.App-header {
  position: absolute;
  top: 40%;
  left: 40%;
  text-align: center;
  transform: translate(-30%, -40%);
  padding: 3rem;
}
.App-header h1 {
  font-size: 4.5rem;
}

.App-header p {
  font-size: 2rem;
}
@media (max-width: 768px) {
  .App-header h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .App-header p {
    font-size: 1.3rem;
  }
}
.App-header button {
  margin-top: 5rem;
  border-radius: 20px;
  font-size: 1.6rem;
  padding: 1rem 3.2rem;
  width: 15rem;
}
.App-header button:hover {
  transform: scaleX(1.2) scaleY(1.2);
}
