.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav span {
  margin: 1.4rem;
}
.nav button {
  padding: 0.8rem 2rem;
  align-self: baseline;
  margin: 2rem;
  border-radius: 20px;
}
.nav button:hover {
  background-color: #fff;
  color: rgb(39, 62, 80);
}
.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 3rem;
}
@media (max-width: 600px) {
  .nav span {
    margin: .5rem;
    font-size: 2rem;
  }
  .nav button {
  padding: 0.8rem 1.1rem;
  margin: 1rem;
  font-size: 1rem;
  border-radius: 20px;
}
}

.bg-text, .bg-text span, .bg-text button {
  color: #5F7192;
}

.bg-text button {
    border: 1px solid #5F7192;
}