.session-expired-container {
    text-align: center;
    padding: 3rem 0;
    color: #000;
}

.session-expired-container button {
    padding: .8rem 1rem;
    margin-top: 1rem;
    font-size: 1rem;
}
