/*****  TYPOGRAPHY
****/

@font-face {
  font-family: "gt walsheim bold";
  src: url("./fonts/gt_walsheim/gt-walsheim-bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "gt walsheim italic";
  src: url("./fonts/gt_walsheim/gt-walsheim-light-oblique.ttf")
    format("truetype");
  font-style: italic;
  font-weight: lighter;
}
@font-face {
  font-family: "gt walsheim";
  src: url("./fonts/gt_walsheim/gt-walsheim-regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "nat";
  src: url("./fonts/sf-fonts/Nunito-Regular.ttf") format("truetype");
  font-weight: normal;
}

/*****  PAGE RESET
****/

body {
  font-family: "nat", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "gt walsheim", sans-serif;
}

p {
  font-family: "nat", sans-serif;
  line-height: 3rem;
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.8rem;
  font-family: "nat", sans-serif;
}
a:hover {
  text-decoration: none;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 70%; /*This defines what 1rem is --- the same as 10px;*/
  box-sizing: border-box;
}

button {
  padding: 1rem;
  border-radius: 5px;
  color: #ffffff;
  border: 1px solid #dddddd;
  background: transparent;
  transition: all 0.2s;
  cursor: pointer;
}

button:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
button:focus {
  outline: none;
}

.error-text {
  font-size: 1rem;
  text-align: center;
}
